@use '../utils/' as ulti;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  /*this is mobile size */
  font-size: clamp(ulti.rem(28), ulti.rem(16) + 2vw, ulti.rem(40));
}
h2 {
  /*this is mobile size */
  font-size: clamp(ulti.rem(22), ulti.rem(14) + 2vw, ulti.rem(36));
}

p {
  margin-top: 0;
  font-size: ulti.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
