@use '../utils/' as ulti;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  width: min(100% - ulti.rem(40), ulti.rem(1000));
  margin-inline: auto;

  @include ulti.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: ulti.rem(40);

    @include ulti.breakpoint-down(medium) {
      text-align: center;
    }

    @include ulti.breakpoint(medium) {
      text-align: left;
    }
  }

  &__main {
    background-color: green;

    @include ulti.breakpoint(medium) {
      background-color: orange;
    }

    @include ulti.breakpoint(large) {
      background-color: red;
    }
  }
  &__sidebar {
    background-color: darkblue;
  }
}
